@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Misc */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgb(192, 192, 192, 0.5)
}

h1 {
    font-size: 2.5rem;
    color: #800080;
}

h5 {
    margin: 0;
    font-size: 1.8rem;
}

section .flash-panel h2 {
    padding: 30px;
    font-size: 2rem;
    margin: 0;
}

main {
    flex: 1 0 auto;
}

.register-panel,
.login-panel,
.profile-panel,
.panel {
    margin-top: 20px;
}

.card-panel {
    padding-bottom: 50px;
}

.title-footer {
    padding: 0 20px !important;
}

.title-footer form label {
    color: #fff;
}

/* Navbar */

nav {
    background-color: #800080;
}

nav .brand-logo {
    left: 6rem;
    font-size: 1.7rem;
    line-height: 4;
}

.dropdown-content li a {
    color: #800080;
}

.dropdown-content {
    min-width: 15%;
    padding-top: 0;
}

.sidenav {
    width: 200px;
    min-width: 15%;
    max-width: 60%;
    padding-top: 0;
}

.sidenav img {
    display: block;
    padding: 15px;
    margin: 0 auto;
}

.fa-bars {
    padding-top: 15px;
    padding-right: 15px;
}

footer .container {
    width: 90%;
    text-align: center;
}

.social {
    display: inline
}

/* Generic form styles */

form input,
textarea {
    color: #fff;
    border-bottom: 1px solid #fff !important;
}

.dropdown-content li>span {
    color: black;
}

span.character-counter {
    color: #fff;
}

.form-checkboxes {
    padding-right: 40px;
}

/* Home */

.intro {
    background: url('../images/intro-pic.jpg') center;
}

.intro-header {
    height: 625px;
    border-bottom: 2px solid #800080;
}

.intro-header h1 {
    margin: 20px 0 0 0;
    font-size: 3.56rem;
    line-height: 110%;
    color: #fff;
}

.intro-header p {
    margin: 0 0 20px 0;
}

.intro-header h1,
.intro-header p {
    background-color: rgba(100, 0, 95, 0.5);
    padding: 20px;
}

.home-footer-panel {
    margin: 10.5px;
    padding: 25px
}

.home-footer-panel a {
    margin-bottom: 10px;
}

/* Products */

.products h1 {
    font-size: 2.3rem;
    color: #fff;
    background-color: #4a148c;
    padding: 30px 20px;
}

.products h2,
.products h3 {
    font-size: 1.5rem;
}

.products h1,
.products h2,
.products h3 {
    font-weight: 500;
    text-align: center;
    margin: 15px 10.5px;
}

.products .card {
    padding-bottom: 15px;
}

.products .card .card-title {
    max-height: 80px;
    font-size: 1.3rem;
}

.products .product-price {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
}

.products .bottom-button {
    margin: 0 10.5px;
}

/* Register */

.register-panel .card .card-content h1,
.login-panel .card .card-content h1{
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    display: block;
    line-height: 32px;
    margin: 0 0 8px;
}

.register-input {
    padding: 0 30px;
}

.register-input label {
    color: #fff;
}

.pattern {
    font-size: 0.75em;
}

.card-action {
    padding: 0 30px !important;
}

.card-action .row {
    margin: 0 0 20px !important;
}

.form-flash {
    margin: 0 30px;
}

/* Profile */

.profile-panel .user-details {
    margin: 0;
    padding: 0 30px;
}

.profile-buttons {
    padding-bottom: 10px;
}

.profile-buttons a {
    margin-bottom: 15px;
}

/* Recipes */

.search-buttons {
    margin-bottom: 10px;
}

.search-buttons .search,
.search-buttons .reset {
    width: 49%;
    padding: 0 10px;
}

.search-ar {
    width: 98.6%;
    margin-top: 15px;
}

.search-buttons .search i {
    font-size: 1rem;
    margin-right: 0;
}

.recipe-info {
    margin: 40px 0 15px;
}

.collapsible-header {
    background-color: #4a148c;
}

.collapsible-header:hover {
    color: #4a148c;
    background-color: #fff;
}

.chip {
    margin-bottom: 15px;
}

.card-panel .recipe-buttons {
    padding: 0;
}

/* Cuisines */

.cuisines {
    padding: 0 20px;
    border: 0;
}

.cuisines .collection-item {
    margin: 10px 0 !important;
    border: 1px solid #800080;
}

.cuisines:not(.browser-default) {
    padding-left: 20px;
}

.cuisines-bottom h5 {
    font-size: 1.4rem;
    text-align: center;
    color: #800080;
}

/* Add/Edit cuisine */

.panel .switch label input[type=checkbox]:checked+.lever {
    background-color: rgba(40, 255, 40, 0.61);
}

.panel .switch label input[type=checkbox]:checked+.lever:after {
    background-color: green;
}

/* Users */

.users {
    margin: 25px 50px;
    border: 1px solid black;
}

.users-search {
    width: 100%;
    height: 45px;
    position: relative;
    display: flex;
    background-color: #4a148c41;
    border-bottom: 1px solid black;
}

.users-search input {
    width: 100%;
    padding-left: 15px !important;
    height: 30px;
    color: black;
    border: none !important;
}

.users-search input::placeholder {
    color: black;
}

.users-search input:focus {
    color: black;
}

.users-search button {
    width: 44px;
    height: 44px;
    border: none;
    border-left: 1px solid black;
    background: #800080;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
}

.banned-form .switch {
    margin-bottom: 15px;
}

.admin-form .switch label input[type=checkbox]:checked+.lever {
    background-color: rgba(0, 128, 0, 0.541);
}

.admin-form .switch label input[type=checkbox]:checked+.lever:after {
    background-color: green;
}

.banned-form .switch label input[type=checkbox]:checked+.lever {
    background-color: rgba(218, 28, 28, 0.438);
}

.banned-form .switch label input[type=checkbox]:checked+.lever:after {
    background-color: red;
}

/* Media Queries */

@media(min-width: 300px) {

    nav {
        height: 96px;
    }

    nav img {
        padding-right: 10px;
        padding-left: 40px;
        padding-top: 30px;
    }

    nav ul {
        padding-top: 15px
    }

    .social {
        list-style-type: none;
        padding: 0 6px;
    }


    /* Footer */

    footer .social a i {
        width: 30px;
        height: 30px;
        padding: 6px 1px;
        font-size: 16px;
        line-height: 16px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        background: #133510;
        border: 1px outset transparent;
    }

    footer .social a i:hover {
        border: 1px solid #fff;
    }

    .footer-copyright ul {
        margin: 0;
    }

}


@media(min-width: 600px) {

    nav .brand-logo {
        line-height: 3.1;
        font-size: 2.1rem;
    }

    .intro-header {
        height: 400px;
    }

    footer .container {
        text-align: left;
    }

    .footer-copyright ul {
        transform: translate(15px, -10px);
    }
}

@media(min-width: 900px) {

    .brand-logo {
        line-height: 3;
        padding-left: 0;
    }

    .intro-header h1,
    .intro-header p {
        margin-left: 40px;
        margin-right: 40px;
    }

}

@media only screen and (max-width: 992px) {
    nav .brand-logo.left {
        left: 6rem;
    }
}