@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

nav {
    background-color: purple;
}

.brand-logo {
    line-height: 3.1;
    left: 6rem;
}

.dropdown-content li a {
    color: purple;
}

.dropdown-content {
    min-width: 15%;
    padding-top: 0;
}

.sidenav {
    width: 200px;
    min-width: 15%;
    max-width: 60%;
    padding-top: 0;
}

.fa-bars {
    padding-top: 15px;
    padding-right: 15px;
}

@media(min-width: 300px) {

    nav {
        height: 96px;
    }

    nav img {
        padding-right: 10px;
        padding-left: 40px;
        padding-top: 30px;
    }

    nav ul {
        padding-top: 15px
    }
}

.social {
    list-style-type: none;
    padding: 0 6px;
}

footer .social a i {
    width: 30px;
    height: 30px;
    padding: 6px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 30%;
    text-align: center;
    color: #fff;
    background: #133510;
    border: 1px outset transparent;
}

footer .social a i:hover {
    border: 1px solid #fff;
}

@media(min-width: 900px) {

    .brand-logo {
        line-height: 3;
        padding-left: 0;
    }
}

@media only screen and (max-width: 992px) {
nav .brand-logo.left {
    left: 6rem;
}
}