@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Misc */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

section .flash-panel h2 {
    padding: 40px;
    font-size: 2.5rem
}

main {
    flex: 1 0 auto;
}

.register-panel,
.login-panel,
.profile-panel {
    margin-top: 20px;
}


/* Navbar */
nav {
    background-color: purple;
}

nav .brand-logo {
    left: 6rem;
    font-size: 1.7rem;
    line-height: 4;
}

.dropdown-content li a {
    color: purple;
}

.dropdown-content {
    min-width: 15%;
    padding-top: 0;
}

.sidenav {
    width: 200px;
    min-width: 15%;
    max-width: 60%;
    padding-top: 0;
}

.sidenav img {
    display: block;
    padding: 15px;
    margin: 0 auto;
}

.fa-bars {
    padding-top: 15px;
    padding-right: 15px;
}

footer .container {
    width: 90%;
    text-align: center;
}

.social {
    display:inline
}

/* Generic form styles */

form input,
textarea {
    color: white;
    border-bottom: 1px solid white !important;
}

.dropdown-content li > span{
    color:black;
}

span.character-counter {
    color: white;
}

.form-checkboxes {
    padding-right: 40px;
}

/* Register page */

.register-input {
    padding: 0 30px;
}

.register-input label {
    color: white;
}

.pattern {
    font-size: 0.75em;
}

.card-action {
    padding: 0 30px !important;
}

.card-action .row {
    margin: 0 0 20px !important;
}

.form-flash {
    margin: 0 30px;
}

/* Profile Page */

.profile-panel .user-details {
    margin: 0;
    padding: 0 30px;
}

.profile-buttons {
    padding-bottom: 10px;
}

.profile-buttons a {
    margin-bottom: 15px;
}




/* Media Queries */
@media(min-width: 300px) {

    nav {
        height: 96px;
    }

    nav img {
        padding-right: 10px;
        padding-left: 40px;
        padding-top: 30px;
    }

    nav ul {
        padding-top: 15px
    }

    .social {
        list-style-type: none;
        padding: 0 6px;
    }

    

    footer .social a i {
        width: 30px;
        height: 30px;
        padding: 6px 1px;
        font-size: 16px;
        line-height: 16px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        background: #133510;
        border: 1px outset transparent;
    }

    footer .social a i:hover {
        border: 1px solid #fff;
    }
}


@media(min-width: 600px) {

    nav .brand-logo {
        line-height: 3.1;
        font-size: 2.1rem;
    }
    
    footer .container {
        text-align: left;
    }
}

@media(min-width: 900px) {

    .brand-logo {
        line-height: 3;
        padding-left: 0;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo.left {
        left: 6rem;
    }
}

