{% extends 'base.html' %}

<!-- Content to be injected into respective base.html block when change_password view is accessed -->
{% block content %}
<!-- Change password block -->
<div class="row register-panel">
  <div class="col s12 m10 offset-m1 l8 offset-l2 center-align">
    <div class="card purple darken-4">
      <!-- Title -->
      <div class="card-content white-text">
        <span class="card-title">Change Password</span>
        <p>Never share your Password with anyone</p>
      </div>
      <!-- Change password form with post directing to change_password route passing the expected username param in route -->
      <div class="row register-form">
        <form class="col s12" method="POST" action="{{ url_for('change_password', username=session['user_session']) }}">
          <!-- Password -->
          <div class="row register-input">
            <div class="input-field col s12">
              <!-- Password input with regex requiring at least one each of a-z, A-Z, 0-9 and a special,
                and between 8 and 64 in length-->
              <input id="password" name="password" type="password" class="validate"
                pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})" required>
              <label for="password">Password</label>
              <!-- Tell user how to pass validation -->
              <span class="white-text left pattern"><em>Password must contain both uppercase and
                  lowercase letters as well as at least one number and special character</em></span>
            </div>
          </div>
          <!-- Confirm password -->
          <div class="row register-input">
            <div class="input-field col s12">
              <!-- Password input with regex requiring at least one each of a-z, A-Z, 0-9 and a special,
                and between 8 and 64 in length-->
              <input id="pconfirm" name="password" type="password" class="validate"
                pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})" required>
              <label for="pconfirm">Confirm Password</label>
            </div>
          </div>
          <!-- Submit -->
          <div class="card-action">
            <div class="row">
              <!-- Submit button -->
              <button type="submit" class="col s12 btn-small purple darken-1 text-shadow">
                Submit Changes
              </button>
            </div>
            <!-- Cancel anchor link directing to profile route and passing the expected username param in route -->
            <div class="row">
              <p class="center-align">
                <a href="{{ url_for('profile', username=session['user_session']) }}"
                  class="col s12 btn-small purple darken-1">Cancel</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}