{% extends 'base.html' %}

<!-- Content to be injected into respective base.html block when edit_profile view is accessed -->
{% block content %}
<!-- Register block -->
<div class="row register-panel">
  <div class="col s12 m10 offset-m1 l8 offset-l2 center-align">
    <div class="card purple darken-4">
      <!-- Title block -->
      <div class="card-content white-text">
        <!-- Kitchen Craft logo sourced from directed images dir -->
        <img src="{{ url_for('static', filename='images/kitchencraft-logo.png') }}" alt="Kitchen Craft logo">
        <span class="card-title">Edit Profile for {{ username.username }}</span>
        <p>Update your details below</p>
      </div>
      <!-- Edit profile form with post directing to edit_profile route passing the expected username param in route -->
      <div class="row register-form">
        <form class="col s12" method="POST" action="{{ url_for('edit_profile', username=session['user_session']) }}">
          <!-- Name -->
          <div class="row register-input">
            <div class="input-field col s6 white-text">
              <!-- First name input with value set to existing fname value from passed username object, and regex 
                accepting characters a-z, A-Z, and between 2 and 15 in length -->
              <input id="fname" name="fname" value="{{ username.fname.capitalize() }}" type="text" class="validate"
                pattern="^[a-zA-Z]{2,15}$" required>
              <label for="fname">First Name</label>
            </div>
            <div class="input-field col s6 white-text">
              <!-- Last name input with value set to existing lname value from passed username object, and regex 
                accepting characters a-z, A-Z, and between 2 and 15 in length -->
              <input id="lname" name="lname" value="{{ username.lname.capitalize() }}" type="text" class="validate"
                pattern="^[a-zA-Z]{2,15}$" required>
              <label for="lname">Last Name</label>
            </div>
          </div>
          <!-- Email -->
          <div class="row register-input">
            <div class="input-field col s12">
              <!-- Email input with value set to existing email value from passed username object -->
              <input id="email" name="email" type="email" value="{{ username.email }}" class="validate" required>
              <label for="email">Email</label>
            </div>
          </div>
          <!-- Submit -->
          <div class="card-action">
            <div class="row">
              <!-- Submit button -->
              <button type="submit" class="col s12 btn-small purple darken-1 text-shadow">
                Submit Changes
              </button>
            </div>
            <!-- Cancel anchor link directing to profile route and passing the expected username param in route -->
            <div class="row">
              <p class="center-align">
                <a href="{{ url_for('profile', username=session['user_session']) }}"
                  class="col s12 btn-small purple darken-1">Cancel</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}