{% extends 'base.html' %}

{% block content %}

<div class="row register-panel">
  <div class="col s12 m10 offset-m1 l8 offset-l2 center-align">
    <div class="card purple darken-4">
      <!-- Title block -->
      <div class="card-content white-text">
        <img src="{{ url_for('static', filename='images/kitchencraft-logo.png') }}">
        <span class="card-title">Edit Recipe</span>
        <p>Edit your recipe below</p>
      </div>
      <!-- Flash block -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="card-content white-text red darken-4 form-flash">
        <span class="center-align white-text">{{ message }}</span>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <!-- Form block -->
      <div class="row register-form">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id = recipe._id) }}">
          <!-- Select block -->
          <div class="row register-input">
            <div class="input-field col s12">
              <select id="cuisine_name" name="cuisine_name" class="validate" required>
                <option value="" disabled>Choose Cuisine</option>
                {% for cuisine in cuisines %}
                {% if cuisine.cuisine_name == recipe.cuisine_name %}
                <option value="{{ cuisine.cuisine_name }}" selected>{{ cuisine.cuisine_name }}</option>
                {% else %}
                <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                {% endif %}
                {% endfor %}
              </select>
              <label for="cuisine_name">Cuisine</label>
            </div>
          </div>
          <!-- Recipe name input -->
          <div class="row register-input">
            <div class="input-field col s12">
              <input id="recipe_name" name="recipe_name" type="text" class="validate" pattern="^[a-zA-Z]{5,20}$"
                value="{{ recipe.recipe_name }}" required>
              <label for="recipe_name">Recipe Name</label>
              <span class="white-text left pattern"><em>No more than 20 letters</em></span>
            </div>
          </div>

          <div class="row register-input">
            <div class="input-field col s12">
              <input id="prep_time" name="prep_time" type="text" class="validate" minlength="5" maxlength="20"
                pattern="^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$" value="{{ recipe.prep_time }}" required>
              <label for="prep_time">Preparation Time</label>
            </div>
          </div>

          <div class="row register-input">
            <div class="input-field col s12">
              <input id="cook_time" name="cook_time" type="text" class="validate" minlength="5" maxlength="20"
                pattern="^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$" value="{{ recipe.cook_time }}"required>
              <label for="cook_time">Cooking Time</label>
            </div>
          </div>

          <div class="row register-input">
            <div class="input-field col s12">
              <textarea id="ingredients" name="ingredients" minlength="5" maxlength="200"
                class="materialize-textarea validate" data-length="200"
                required>{{ recipe.ingredients }}</textarea>
              <label for="ingredients">Ingredients</label>
            </div>
          </div>

          <div class="row register-input">
            <div class="input-field col s12">
              <textarea id="steps" name="steps" minlength="5" maxlength="200" class="materialize-textarea validate"
                data-length="200" value = "{{ recipe.steps }}" required>{{ recipe.ingredients }}</textarea>
              <label for="steps">Steps</label>
            </div>
          </div>

          <div class="row register-input">
            <div class="input-field col s12">
              <p><span class="white-text form-checkboxes">This dish is: </span>

                <label for="vegetarian" class="form-checkboxes">
                  <input id="vegetarian" name="vegetarian" type="checkbox" {{ recipe.vegetarian }} />
                  <span>Vegetarian</span>
                </label>
                <label for="vegan" class="form-checkboxes">
                  <input id="vegan" name="vegan" type="checkbox" {{ recipe.vegan }}/>
                  <span>Vegan</span>
                </label>
                <label for="hot" class="form-checkboxes">
                  <input id="hot" name="hot" type="checkbox" {{ recipe.hot }}/>
                  <span>Hot</span>
                </label>
              </p>
            </div>
          </div>

          <!-- Submit block -->
          <div class="card-action">
            <div class="row">
              <!-- Submit button -->
              <button type="submit" class="col s12 btn-small purple darken-1 text-shadow">
                Edit Recipe
              </button>
            </div>
            <!-- Sign in page link -->
            <div class="row">
              <p class="center-align">
                <a href="{{ url_for('profile', username=session['user_session']) }}" class="col s12 btn-small purple darken-1">Cancel</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}