{% extends 'base.html' %}

<!-- Content to be injected into respective base.html block when register page
     is rendered by register function -->
{% block content %}
<!-- Register block -->
<div class="row register-panel">
  <div class="col s12 m10 offset-m1 l8 offset-l2 center-align">
    <div class="card purple darken-4">
      <!-- Title block -->
      <div class="card-content white-text">
        <span class="card-title">Edit Profile</span>
        <p>Update your details below</p>
      </div>
      <!-- Flash block -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="card-content white-text green darken-4 form-flash">
                  <span class="center-align white-text">{{ message }}</span>
              </div>
          {% endfor %}
      {% endif %}
  {% endwith %}
      <!-- Form block -->
      <div class="row register-form">
        <form class="col s12" method="POST" action="{{ url_for('edit_profile', username=session['user_session']) }}">
          <!-- Name block -->
          <div class="row register-input">
            <div class="input-field col s6 white-text">
              <!-- First name input -->
              <input id="fname" name="fname" value= "{{ username.fname.capitalize() }}" type="text" class="validate" required>
              <label for="fname">First Name</label>
            </div>
            <div class="input-field col s6 white-text">
              <!-- Last name input -->
              <input id="lname" name="lname"  value= "{{ username.lname.capitalize() }}"type="text" class="validate" required>
              <label for="lname">Last Name</label>
            </div>
          </div>
          <!-- Password block -->
          <div class="row register-input">
            <div class="input-field col s12">
              <!-- Password input -->
              <input id="password" name="password" type="password" class="validate"
                pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})" required>
              <label for="password">Password</label>
              <span class="white-text left pattern"><em>Password must contain both uppercase and
                  lowercase letters as well as at least one number and special character</em></span>
            </div>
          </div>
          <!-- Email block -->
          <div class="row register-input">
            <div class="input-field col s12">
              <!-- Email input -->
              <input id="email" name="email" type="email"  value= "{{ username.email }}"class="validate" required>
              <label for="email">Email</label>
            </div>
          </div>
          <!-- Submit block -->
          <div class="card-action">
            <div class="row">
              <!-- Submit button -->
              <button type="submit" class="col s12 btn-small purple darken-1 text-shadow">
                Submit Changes
              </button>
            </div>
            <!-- Sign in page link -->
            <div class="row">
              <p class="center-align">
                <a href="{{ url_for('profile', username=session['user_session']) }}" class="col s12 btn-small purple darken-1">Cancel</a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}