{% extends 'base.html' %}

<!-- Content to be injected into respective base.html block when profile view is accessed -->
{% block content %}
<!-- Profile block -->
<main>
  <div class="row profile-panel">
    <div class="col s12 m10 offset-m1 l8 offset-l2 center-align">
      <div class="card purple darken-4">
        <!-- Title -->
        <div class="card-content white-text">
          <!-- Kitchen Craft logo sourced from directed images dir -->
          <img src="{{ url_for('static', filename='images/kitchencraft-logo.png') }}">
          <!-- Show current Username by injecting username from passed username object -->
          <span class="card-title">{{ username.username }}</span>
          <!-- Show current First name by injecting fname from passed username object -->
          <p>Are all your details up to date {{ username.fname.capitalize() }}?</p>
        </div>
        <!-- Flashed messages section -->
        <section>
          <!-- In-built flask method to pull all flashed messages from the session and return them -->
          {% with messages = get_flashed_messages() %}
          <!-- Conditional to check for flashed messages -->
          {% if messages %}
          <!-- Iterate through flashed messages -->
          {% for message in messages %}
          <div class="card-content white-text green darken-4 form-flash">
            <!-- Inject message -->
            <span class="center-align white-text">{{ message }}</span>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </section>
        <!-- User details -->
        <div class="row user-details">
          <ul class="collection with-header">
            <li class="collection-header">
              <h4>Your Details</h4>
            </li>
            <li class="collection-item">
              <!-- Show current First name by injecting fname from passed username object -->
              <div>{{ username.fname.capitalize() }}</div>
            </li>
            <li class="collection-item">
              <!-- Show current Last name by injecting fname from passed username object -->
              <div>{{ username.lname.capitalize() }}</div>
            </li>
            <li class="collection-item">
              <!-- Show current Email by injecting fname from passed username object -->
              <div>{{ username.email }}</div>
            </li>
          </ul>
        </div>
        <!-- Profile buttons -->
        <div class="card-action">
          <div class="row profile-buttons">
            <p class="center-align">
              <!-- Anchor link directing to edit_profile route passing the expected username param in route -->
              <a href="{{ url_for('edit_profile', username=session['user_session']) }}"
                class="col s12 btn-small purple darken-1">Edit Profile</a>
              <!-- Anchor link directing to change_password route passing the expected username param in route -->
              <a href="{{ url_for('change_password', username=session['user_session']) }}"
                class="col s12 btn-small purple darken-1">Change Password</a>
              <!-- Anchor link directing to logout route -->
              <a href="{{ url_for('logout') }}" class="col s12 btn-small purple darken-1">Sign Out</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Profile recipes section -->
  <section>
    <div class="row">
      <div class="col s12 center-align">
        <h4>Your Recipes</h4>
      </div>
      <!-- Iterate over the recipes object being passed from the profile function -->
      {% for recipe in recipes %}
      <div class=" col s12 m6 l4">
        <!-- Recipe card -->
        <div class="card-panel purple darken-4 white-text">
          <!-- Conditional to check if Hot! checkbox is checked for each iteration -->
          {% if recipe.hot == 'checked' %}
          <!-- Insert Hot! icon -->
          <i class="right fa-solid fa-pepper-hot tooltipped" style="color: red" data-tooltip="Hot!"></i>
          {% endif %}
          <!-- Conditional to check if Vegetarian checkbox is checked for each iteration-->
          {% if recipe.vegetarian == 'checked' %}
          <!-- Insert Vegetarian icon -->
          <i class="right fa-solid fa-carrot tooltipped" style="color: yellow" data-tooltip="Vegetarian"></i>
          {% endif %}
          <!-- Conditional to check if Vegan checkbox is checked for each iteration-->
          {% if recipe.vegan == 'checked' %}
          <!-- Insert Vegan icon -->
          <i class="right fa-solid fa-leaf tooltipped" style="color: lightgreen" data-tooltip="Vegan"></i>
          {% endif %}

          <!-- Iterate over the cuisines object being passed from profile function -->
          {% for cuisine in cuisines %}
          <!-- Conditional to check cuisine_name in recipe iteration matches that of cuisine iteration-->
          {% if recipe.cuisine_name == cuisine.cuisine_name %}
          <!-- Insert image by converting base64 from injected flag string -->
          <img src="data:image/png;base64,{{ cuisine.flag }}" alt="{{ cuisine.cuisine_name }} Flag"
            class="circle left recipe-flags tooltipped" data-tooltip="{{ cuisine.cuisine_name }} Cuisine" width="32px"
            height="32px">
          {% endif %}
          {% endfor %}

          <!-- Recipe info injected from recipes object -->
          <div class="center-align recipe-info">
            <h5>{{ recipe.recipe_name.title() }}</h5>
            <h6>{{ recipe.cuisine_name }} Cuisine</h6>
            <span>Preparation: {{ recipe.prep_time }}</span><br>
            <span>Cooking: {{ recipe.cook_time }}</span>
          </div>

          <!-- Unordered collapsible list for ingredients and steps -->
          <ul class="collapsible">
            <!-- Ingredients collapsible -->
            <li>
              <div class="collapsible-header">
                <i class="fa-solid fa-basket-shopping"></i> Ingredients</div>
              <!-- Inject ingredients from recipes object -->
              <div class="collapsible-body white black-text"><span>{{ recipe.ingredients }}</span></div>
            </li>
            <!-- Steps collapsible -->
            <li>
              <div class="collapsible-header">
                <i class="fa-solid fa-clipboard-list"></i> Steps</div>
              <!-- Inject steps from recipes object -->
              <div class="collapsible-body white black-text"><span>{{ recipe.steps }}</span></div>
            </li>
          </ul>
          <!-- Styled div to display recipe creator by using created_by from recipes object -->
          <div class="chip">
            <span><em>Recipe by: </em>You<em>
                <!-- Value of upload_date injected from recipes object -->
                on: {{ recipe.upload_date }}</em></span>
          </div>

          <!-- Buttons for edit and remove -->
          <div class="col s12 right-align recipe-buttons">
            <!-- Pass back the associated recipe._id within the expected recipe_id parameter -->
            <a href="{{ url_for('edit_recipe', recipe_id = recipe._id) }}" class="btn-small green">Edit</a>
            <!-- Modal trigger when clicking remove button -->
            <a href="#modal-{{ recipe._id }}" class="btn-small red modal-trigger">Remove</a>
          </div>
        </div>
      </div>

      <!-- Modal with a unique id created by adding the associated recipe._id -->
      <div id="modal-{{ recipe._id }}" class="modal purple darken-4">
        <div class="modal-content white-text">
          <h4>Confirm Deletion</h4>
          <p>Are you sure you want to permanently delete your recipe?</p>
        </div>
        <div class="modal-footer grey lighten-2">
          <!-- Return to home page -->
          <a href="{{ url_for('profile', username=session['user_session']) }}" class="btn-small green">Return</a>
          <!-- Trigger the remove_recipe function by passing the associated recipe._id in the expected param -->
          <a href="{{ url_for('remove_recipe', recipe_id = recipe._id) }}" class="modal-close btn-small red">Confirm
            Delete</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

</main>
{% endblock %}