{% extends 'base.html' %}
{% block content %}

<section>

  <!-- Flash messages -->
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="row flash-panel green">
    <h2 class="white-text center-align"><i class="fa-solid fa-check"></i><br>{{ message }}</h2>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

</section>

<div class="row">
  <div class="col s12 center-align title-footer">
    <div class="row card-panel purple darken-4">
      <h1 class="white-text">Search our recipes or share your own recipes with the community!</h1>
      <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="valign-wrapper center-align">
          <div class="input-field col s6 m8">
            <input type="text" name="index_query" id="index_query" minlength="3" class="validate" required>
            <label for="index_query">Search Recipes</label>
          </div>
          <div class="col s6 m4">
            <button type="submit" class="btn purple">
              <i class="fas fa-search left"></i> Search
            </button>
            <a href="{{ url_for('recipes') }}" class="btn green">Reset</a>
          </div>
        </div>
      </form>
      {% if session.user_session %}
      <p class="center-align">
        <a href="{{ url_for('add_recipe') }}" class="col s12 btn-small purple darken-1">Add Recipe</a>
      </p>
      {% else %}
      <p class="center-align">
        <a href="{{ url_for('register') }}" class="col s12 btn-small purple darken-1">Register Now</a>
      </p>
      {% endif %}
    </div>
  </div>
</div>


<div class="row">

  {% for recipe in recipes %}

  <div class=" col s12 m6 l4">
    <div class="card-panel purple darken-4 white-text">
      {% if recipe.hot == 'checked' %}
      <i class="right fa-solid fa-pepper-hot tooltipped" style="color: red" data-tooltip="Hot!"></i>
      {% endif %}
      {% if recipe.vegetarian == 'checked' %}
      <i class="right fa-solid fa-carrot tooltipped" style="color: yellow" data-tooltip="Vegetarian"></i>
      {% endif %}
      {% if recipe.vegan == 'checked' %}
      <i class="right fa-solid fa-leaf tooltipped" style="color: lightgreen" data-tooltip="Vegan"></i>
      {% endif %}

        {% for cuisine in cuisines %}
          {% if recipe.cuisine_name == cuisine.cuisine_name %}
          <img src="data:image/png;base64,{{ cuisine.flag }}" alt="Flag for {{ cuisine.cuisine_name }}" 
          class="circle left recipe-flags tooltipped" data-tooltip="{{ cuisine.cuisine_name }} Cuisine"
          width="32px" height="32px">
          {% endif %}
        {% endfor %}
        
      <div class="center-align">
        <h5>{{ recipe.recipe_name }}</h5>
        <h6>{{ recipe.cuisine_name }} Cuisine</h6>
        <span>Preparation: {{ recipe.prep_time }}</span><br>
        <span>Cooking: {{ recipe.cook_time }}</span>
      </div>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header purple darken-4">
            <i class="fa-solid fa-basket-shopping"></i> Ingredients</div>
          <div class="collapsible-body white black-text"><span>{{ recipe.ingredients }}</span></div>
        </li>
        <li>
          <div class="collapsible-header purple darken-4">
            <i class="fa-solid fa-clipboard-list"></i> Steps</div>
          <div class="collapsible-body white black-text"><span>{{ recipe.steps }}</span></div>
        </li>
      </ul>
      <div class="chip">
        <span><em>Recipe by:
            {% if session.user_session|lower == recipe.created_by|lower %}
          </em>You<em>
            {% else %}
          </em>{{ recipe.created_by }}<em></em>
          {% endif %}
          on: {{ recipe.upload_date }}</em></span>
      </div>
      {% if session.user_session|lower == recipe.created_by|lower %}
      <div class="col s12 right-align">       
        <a href="{{ url_for('edit_recipe', recipe_id = recipe._id) }}" class="btn-small green">Edit</a>
        <a href="#modal-{{ recipe._id }}" class="btn-small red modal-trigger">Remove</a>     
      </div>
      {% endif %}
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal-{{ recipe._id }}" class="modal purple darken-4">
    <div class="modal-content white-text">
      <h4>Confirm Deletion</h4>
      <p>Are you sure you want to permanently delete your recipe?</p>
    </div>
    <div class="modal-footer grey lighten-2">
      <a href="{{ url_for('recipes') }}" class="btn-small green">Return</a>
      <a href="{{ url_for('remove_recipe', recipe_id = recipe._id) }}" class="modal-close btn-small red">Confirm
        Delete</a>
    </div>
  </div>
  {% endfor %}
</div>

<div class="row card-panel purple darken-4">
  <h5 class="white-text center-align">Share your own recipes with the community!</h5>
  <div class="col s12 center-align">
    {% if session.user_session %}
    <p class="center-align">
      <a href="{{ url_for('add_recipe') }}" class="col s12 btn-small purple darken-1">Add Recipe</a>
    </p>
    {% else %}
    <p class="center-align">
      <a href="{{ url_for('register') }}" class="col s12 btn-small purple darken-1">Register Now</a>
    </p>
    {% endif %}
  </div>
</div>

{% endblock %}