{% extends 'base.html' %}

{% block content %}



<ul class="collection users">
  <!-- Flash block -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="card-content white-text green darken-4 users-form-flash ">
  <span class="center-align white-text">{{ message }}</span>
</div>
{% endfor %}
{% endif %}
{% endwith %}
  <li class="collection-item"><em>Username</em>
    <div class="right">
      <em>Is Admin?</em>
    </div>
  </li>
  {% for user in users %}
  <li class="collection-item">{{ user.username }}<br> {{ user.fname.capitalize() }} {{ user.lname.capitalize() }}
    <form class="admin-form" method="POST" action="{{ url_for('edit_admin', user_id = user._id) }}">
      <a href="#modal-{{ user._id }}" class="btn-small red modal-trigger">Remove User</a>  
      <div class="switch right-align">
        <label for="is_admin-{{ user.username }}">
          {% if user.is_admin == 'yes'%}
          <input class="right" type="checkbox" id="is_admin-{{ user.username }}" name="is_admin" checked onchange="this.form.submit()">
          {% else %}
          <input type="checkbox" id="is_admin-{{ user.username }}" name="is_admin" onchange="this.form.submit()">
          {% endif %}
          <span class="lever"></span>
        </label>
      </div>
    
    </form>
  </li>

  <div id="modal-{{ user._id }}" class="modal purple darken-4">
    <div class="modal-content white-text">
      <h4>Confirm Deletion</h4>
      <p>Are you sure you want to permanently delete this User from the database?</p>
    </div>
    <div class="modal-footer grey lighten-2">
      <a href="{{ url_for('users', username=session['user_session']) }}" class="btn-small green">Return</a>
      <a href="{{ url_for('remove_user', user_id = user._id) }}" class="modal-close btn-small red">Confirm
        Delete</a>
    </div>
  </div>
  {% endfor %}
</ul>

{% endblock %}